.projects {
  font-size:1.1em;
}

.project {
  margin:0px 0px 90px;
}

.project__title {

}

.project__date {
  color: #999;
  font-size: .9em;
  margin: -5px 0 10px;
}

.project__role {

}

.project__text-label {
  margin-bottom:0;
  font-weight:bold;
}

.project__link {
  margin:10px 0 25px;
  display:inline-block;
}

.project__pictures {
  border: 1px solid $bordersColor;
  padding: 15px;
  background: whitesmoke;
  overflow-x: scroll;
  height: 350px;
  white-space: nowrap;
  a { display:inline-block; }
  img {
    margin:0 4px;
    max-height:320px;
    border:1px solid $bordersColor;
    &:hover { opacity:.8; }
  }
}