@import "compass";

@import "vars";
@import "mixins";
@import "normalize";
@import "buttons";
@import "icons";
@import "utils";


html, body { height:100%; }
body { 
    overflow-y:scroll; font:75% Helvetica, Arial, sans-serif; 
    background-color:$backgroundColor; font-size:14px; 
    width:$mainWidth; margin:0 auto; text-align:center;
    color:#666; 
}

h1 { 
    font-family:'Titillium Web', Arial, sans-serif; 
    line-height:1.3em; margin:50px 0 20px; font-size:20px; 
}
h3 { margin:0 0 10px 0; text-align:left; text-transform:uppercase; }
p { font-size:16px; line-height:1em; font-family:'Titillium Web', Arial, sans-serif; }
img { border-radius:10px; }
i { font-style:normal; }
a { color:$blue; text-decoration:none; }

.imp { color:$blue; }

ul { text-align:left; margin:0 auto; width:200px; list-style:none; padding:0; }
li { 
    &:before { content:'›'; display:inline-block; margin-right:5px; } 
}